header {
    background-color: #ffffff;
    border-color: #cccccc;
    }
body {   
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 150%;
    background-color: gray;
    background-image: url(../images/grey.png);
    color:#777777;
    }

footer {
    border-top: 8px solid #4aaaa5;
    text-align: center;
    font-size: 12px;
    background-color: #666666;
    padding-top: 50px;  
    }

ul li{
    list-style: none;
    display: inline-block;

}
ul li a{
    text-decoration: none;
    
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
