body {
    background-color: cadetblue;
    padding: 0;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: black;
}
header {
    background-color:whitesmoke;
    }
        h1 {
            padding: 2%;
            margin: 0;
            margin-bottom: 60px;
            font-size: 28px;
            color: #eee;
            text-align: left;
            background-color: darkorange;  
            float: left;
        }
        h2 {
            color: darkgreen;
            text-align: left;
            margin: 10px;
        }
        /* unvisited link */
        a:link {
        color:black;
        } 
        /* mouse over link */
        a:hover {
        color: hotpink;
         }

        .bio{
            margin-left: 1%;
            margin-right: 5%;
            text-align: justify;
            }
        #bio-image {
            float: left;
            margin-right: 3%;
            margin-top: 1%;
            }
        #main-bio{
            
            background-color: lightgrey;
            width: 700px;
            border: 15px solid whitesmoke;
            padding: 50px;
            margin: 20px;
            }
        .nav {
            text-align: right;
            padding: 2%;
            }